<header class="container-fluid d-flex justify-content-between p-4">
    <h1>
      <a href="/">Snodes</a>
    </h1>
    <nav>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/profile/{{user_id}}">my profile</a> |
          <button class="no-button" id="logout">logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
    </nav>
</header>

<header class="container-fluid">
  <div class="row p-3 d-flex justify-content-center">
       <form id="search-form" class="col-auto d-flex flex-nowrap">
          <input id="searchbar" type="search" placeholder="Search Snodes..." class="rounded">
          <input type="submit" value="Search" class="ml-1 rounded">
        </form>
        <div class="col-1"></div>
        <nav class="col-auto">  
          <a href="/topsnodes">Top Snodes</a> |
          <a href="/recents">Fresh Snodes</a> |
          <a href="/tags">Top Cateogories</a> |
          <a href="/draftsnode">Post Your Snode!</a>
        </nav>
  </div>
</header>

<script src="/js/searchbar.js"></script>