<header class="container-fluid rounded-top d-flex flex-nowrap justify-content-between p-5 bg-primary">
    <h1>
      <a href="/" class="text-light">{ Snodes }</a>
    </h1>
    <nav>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/profile/{{user_id}}" class="text-light">my profile</a> |
          <button class="no-button" id="logout">logout</button>
      {{else}}
      <a class="text-light" href="/login">[ login ]</a>
      {{/if}}
    </nav>
</header>

<header class="container-fluid rounded-bottom bg-secondary sticky-top border-top">
  <div class="row d-flex justify-content-center justify-content-md-between p-3">
      <form id="search-form" class="col-auto d-flex flex-nowrap p-2" autocomplete="off">
          <input id="searchbar" type="search" placeholder="Quick Search" class="rounded ml-4">
          <input type="submit" value="Search" class="ml-1 rounded">
      </form>
      <div class="col-1"></div>
      <nav class="d-flex flex-wrap align-items-center p-2">  
        <a class="text-light pr-2 align-items-center" href="/topsnodes">Top Snodes</a> |
        <a class="text-light pr-2 pl-2 align-items-center" href="/recents">Fresh Snodes</a> |
        <a class="text-light pr-2 pl-2 align-items-center" href="/tags">Top Cateogories</a> |
        <a class="text-light pl-2 align-items-center" href="/draftsnode">Post Your Snode!</a>
      </nav>
  </div>
</header>

{{!-- Script Links for Search --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

<script src="/js/searchbar.js"></script>