{{#each tags as |tag|}}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2 style="text-decoration: underline;" class="text-primary pb-3">{{tag.tag_name}}:</h2>
    {{#each tag.codesnips as |snode|}}
      <a class="text-secondary" href="/snode/{{snode.id}}">{{snode.description}}</a>
    {{/each}}
  </div>
</div>
{{/each}}