<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/profile/{{snodes.[0].user_id}}">{{user.name}}'s Snodes</a></li>
    <li class="page-item"><a class="page-link" href="/profile/favorite/{{snodes.[0].user_id}}">{{user.name}}'s Favorites</a></li>
  </ul>
</nav>

{{> snodes}}