<form id="advanced-search-form" class="row mb-4 justify-content-center">
    <input id="advanced-searchbar" type="search" placeholder="Advanced Search">
    <input type="submit" value="Search" class="ml-2">
</form>

<script src="./js/advancedSearch.js"></script>

{{> snodes}}