<form id="advanced-search-form" class="col-auto">
    <input id="advanced-searchbar" type="search" placeholder="Search Snodes...">
    <input type="submit" value="Search">
</form>

<script src="./js/advancedSearch.js"></script>