<form id="advanced-search-form" class="row mb-5 pb-3 justify-content-center">
    <input id="advanced-searchbar" type="search" placeholder="Advanced Search" class="rounded">
    <input type="submit" value="Search" class="ml-2 rounded">
</form>

<script src="./js/advancedSearch.js"></script>

{{> snodes}}