<h2 class="text-center p-3">Draft Your Snode Below!</h2>

<textarea id="codearea" name="codearea" cols="30" rows="10"></textarea>
<br>
<input id="snodeSubmit" type="submit">

<script src="./js/codemirrorApp.js"></script>