<div id="draft" class="container-fluid border pl-5 pr-5 pb-2 pt-3 mb-5">
    <h2 class="text-center text-primary"><i>{ Draft Your Snode Below! }</i></h2>
    <form id="inputs" class="container p-2" autocomplete="off">
        <input type="text" name="description" id="description" placeholder="Title" class="row mb-4">
        <div class="border">
            <textarea id="codearea" name="codearea" cols="30" rows="10" class="row border"></textarea>
        </div>
        <input type="text" name="tags" id="tags" placeholder="Add Tags" class="row mt-4">
        <div class="row mt-2 d-flex justify-content-center">
            <input id="snodeSubmit" type="submit" class="btn btn-lg w-25 m-3 p-1">
        </div>
    </form>
    <script src="./js/codemirrorApp.js"></script>
</div>